* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}
.photographer_section a {
  text-decoration: none;
  cursor: default;
}
.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.photographer_section article h2 {
  margin-top: 20px;
  color: #D3573C;
  font-size: 36px;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
.photographer_section article h3 {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  color: #901C1C;
}
.photographer_section article p {
  font-size: 10px;
  font-weight: 400;
  line-height: 13px;
  color: black;
}
.photographer_section article span {
  color: #757575;
  font-size: 9px;
  font-weight: 400;
  line-height: 12px;
}

.photograph-header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #FAFAFA;
  height: 300px;
  margin: 0 100px;
}
.photograph-header__description h2 {
  color: #D3573C;
  font-size: 64px;
  line-height: 84px;
}
.photograph-header__description h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #901C1C;
}
.photograph-header__description p {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: black;
}
.photograph-header__description span {
  color: #757575;
  font-size: 9px;
  font-weight: 400;
  line-height: 12px;
}
.photograph-header__button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}
.photograph-header__images img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
}

.photograph-body {
  margin: 40px 100px;
}
.photograph-body__sort {
  display: flex;
  align-items: center;
  gap: 30px;
}
.photograph-body__select {
  border: none;
  outline: none;
  background: #901C1C;
  color: white;
  padding: 10px;
}
.photograph-body__gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 70px;
  margin: 50px 0 100px;
}
.photograph-body__gallery article img {
  height: 300px;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
.photograph-body__gallery article div {
  display: flex;
  justify-content: space-between;
  color: #901C1C;
}
.photograph-body__gallery article p {
  display: flex;
  align-items: center;
  gap: 5px;
}
.photograph-body__gallery article p .fa-solid {
  cursor: pointer;
}
.photograph-body__gallery article h2 {
  font-size: 24px;
  font-weight: 400;
}
.photograph-body__gallery article video {
  height: 300px;
  width: 100%;
  object-fit: cover;
}
.photograph-body .bg-box {
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
}
.photograph-body .lightBox {
  display: grid;
  place-items: center;
  height: 100%;
}
.photograph-body .lightBox .close {
  position: absolute;
  right: 4vw;
  top: 12vh;
  cursor: pointer;
}
.photograph-body .lightBox .close .line1 {
  position: absolute;
  background-color: #901C1C;
  width: 42px;
  height: 5px;
  transform: rotate(45deg);
}
.photograph-body .lightBox .close .line2 {
  background-color: #901C1C;
  width: 42px;
  height: 5px;
  transform: rotate(-45deg);
}
.photograph-body .lightBox .js-arrow-left {
  position: absolute;
  left: 5vw;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-top: 5px solid #901C1C;
  border-left: 5px solid #901C1C;
  transform: rotate(-45deg);
  cursor: pointer;
}
.photograph-body .lightBox .js-arrow-right {
  position: absolute;
  right: 5vw;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-top: 5px solid #901C1C;
  border-right: 5px solid #901C1C;
  transform: rotate(45deg);
  cursor: pointer;
}
.photograph-body .lightBox .images-media {
  width: 80vw;
  height: 80vh;
}
.photograph-body .lightBox .images-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photograph-body .lightBox .images-media video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.photograph-body__infos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  right: 5vw;
  width: 270px;
  height: 60px;
  background-color: #DB8876;
  font-weight: bold;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#contact_modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(196, 196, 196, 0.4);
}

.modal {
  position: relative;
  margin: 2% auto;
  overflow: hidden;
  border-radius: 5px;
  background-color: #DB8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
}
.modal__heading {
  justify-content: space-between;
  width: 100%;
}
.modal__heading--img {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;
}
.modal__heading--title {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

.form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
.form__Data {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  margin-bottom: 26px;
}
.form__label {
  color: #312E2E;
  font-size: 36px;
}
.form__input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  padding: 0 15px;
  color: #901C1C;
  outline: none;
}
.form__message {
  height: 170px;
  width: 100%;
  border-radius: 5px;
  font-size: 24px;
  padding: 15px;
  color: #901C1C;
  outline: none;
  resize: none;
}
.form__boutton {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}
.header__title {
  color: #901C1C;
  margin-right: 100px;
}
.header__logo {
  height: 50px;
  margin-left: 100px;
}

/*# sourceMappingURL=style.css.map */
