.photograph-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;

    &__description {
        h2 {
            color: #D3573C;
            font-size: 64px;
            line-height: 84px;
        }

        h3 {
            font-size: 24px;
            font-weight: 400;
            line-height: 32px;
            color: #901C1C;
        }

        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 24px;
            color: black;
        }

        span {
            color: #757575;
            font-size: 9px;
            font-weight: 400;
            line-height: 12px;
        }
    }

    &__button {
        @include btn-photograph;
    }

    &__images {
        img {
            height: 200px;
            width: 200px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

.photograph-body {
    margin: 40px 100px;

    &__title{
        font-size: 18px;
        font-weight: 700;
    }
    
    &__sort{
        display: flex;
        align-items: center;
        gap: 30px;
    }
    
    &__filterContainer{
        position: relative;
        height: 70px;
        padding: 0 25px;
        background-color: #901C1C;
        border-radius: 5px;
        width: 170px;
        z-index: 1;
        a{
            text-decoration: none;
            color: white;
        }
        .filter-select{
            height: 100%;
            cursor: pointer;
            &__trigger{
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 100%;
                font-size: 18px;
                font-weight: 700;
            }
            &__arrow{
                position: relative;
                bottom: 3px;
                width: 12px;
                height: 12px;
                border-top: 3px solid white;
                border-right: 3px solid white;
                transform: rotate(135deg);
            }
            &__options{
                position: absolute;
                top: 63px;
                left: 0;
                background-color: #901C1C;
                display: none; // Open remplacera par flex
                flex-direction: column;
                gap: 10px;
                width: 100%;
                border-radius: 5px;
                
                .filter-option{
                    padding: 20px 25px;
                    position: relative;
                    font-size: 18px;
                    font-weight: 700;
                    &:before{
                        content:'';
                        position: absolute;
                        width: 80%;
                        margin: 0 10%;
                        height: 1px;
                        background: white;
                        top: 0;
                        left: 0;
                    }
                }
            }
            .open{
                display: flex;
            }
            .selected{
                display: none;
            }
        }  
    }

    &__gallery {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 70px;
        margin: 50px 0 100px;
        position: relative;
        z-index: 0;
        article {
            img {
                height: 300px;
                width: 100%;
                object-fit: cover;
                border-radius: 5px;
                cursor: pointer;
            }

            div {
                display: flex;
                justify-content: space-between;
                color: #901C1C;
            }

            p {
                display: flex;
                align-items: center;
                gap: 5px;

                .fa-solid {
                    cursor: pointer;
                }
            }

            h2 {
                font-size: 24px;
                font-weight: 400;
            }

            video {
                height: 300px;
                width: 100%;
                object-fit: cover;
                cursor: pointer;
            }
        }
    }

    .bg-box {
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: #C4C4C466;
    }

    .lightBox {
        display: grid;
        place-items: center;
        height: 100%;

        .close {
            position: absolute;
            right: 4vw;
            top: 12vh;
            cursor: pointer;

            .line1 {
                position: absolute;
                background-color: #901C1C;
                width: 42px;
                height: 5px;
                transform: rotate(45deg);
            }

            .line2 {
                background-color: #901C1C;
                width: 42px;
                height: 5px;
                transform: rotate(-45deg);
            }
        }

        .js-arrow-left {
            position: absolute;
            left: 5vw;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            border-top: 5px solid #901C1C;
            border-left: 5px solid #901C1C;
            transform: rotate(-45deg);
            cursor: pointer;
        }

        .js-arrow-right {
            position: absolute;
            right: 5vw;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            border-top: 5px solid #901C1C;
            border-right: 5px solid #901C1C;
            transform: rotate(45deg);
            cursor: pointer;
        }

        .images-media {
            width: 80vw;
            height: 80vh;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            video {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    &__infos {
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: 0;
        right: 5vw;
        width: 270px;
        height: 60px;
        background-color: #DB8876;
        font-weight: bold;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }
}

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: #C4C4C466;
}

.modal {
    position: relative;
    margin: 2% auto;
    overflow: hidden;
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;

    &__heading {
        justify-content: space-between;
        width: 100%;

        &--img {
            position: absolute;
            right: 30px;
            top: 30px;
            cursor: pointer;
        }

        &--title {
            font-size: 64px;
            font-weight: normal;
            text-align: center;
        }
    }
}

.form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;

    &__Data {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: flex-start;
        margin-bottom: 26px;
    }

    &__label {
        color: #312E2E;
        font-size: 36px;
    }

    &__input {
        width: 100%;
        height: 68px;
        border: none;
        border-radius: 5px;
        font-size: 24px;
        padding: 0 15px;
        color: #901C1C;
        outline: none;
    }

    &__message {
        height: 170px;
        width: 100%;
        border-radius: 5px;
        font-size: 24px;
        padding: 15px;
        color: #901C1C;
        outline: none;
        resize: none;
    }

    &__boutton {
        @include btn-photograph;
    }
}